* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

body {
	min-width: 320px;
	font-family: "Inter", sans-serif;
	height: 100%;
	background: url("../images/bgbot.png") repeat-x 50% 100%;
}

.wrapper {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url("../images/bgtop.png") repeat-x 50% 0%;
}

@media (max-width: 550px) {
	.wrapper {
		padding: 0 20px;
	}
}
.center__logo {
	text-align: center;
}
.center__logo img {
	margin: 0 auto 79px;
}
.center__body {
	color: #4e4e4e;
	font-weight: bold;
	font-size: 24px;
	line-height: 48px;
	text-align: center;
	margin: 0 0 56px;
}
.center__button {
	text-align: center;
}
.center__button a {
	color: #fff;
	max-width: 505px;
	background: #84c8cd;
	border-radius: 50px;
	font-size: 30px;
	line-height: 53px;
	display: block;
	margin: 0 auto;
	font-weight: bold;
}
@media (max-width: 400px) {
	.center__logo img {
		max-width: 100%;
	}
	.center__body {
		line-height: 38px;
	}
	.center__button a {
		font-size: 25px;
	}
}
